/*********************************/
/************* CARDS *************/
/*********************************/

$break-small: 320px;
$break-medium: 860;
$break-large: 1200px;

.card-container {
  position: relative;

  .card-banner {
    min-height: 230px;
  }

  .card {
    margin-bottom: 5px;
    position: relative;
    perspective: 600px;
    width: 100%;
    cursor: pointer;
    z-index: 9;
    border: 0px;
    background: $content-bg;

    .card-body {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
      border-radius: 6px;
    }

    .card-img {
      position: relative;
      .card-title {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 24px;
      }
      &.overlap {
        margin-top: -35px;
      }

      .card-shadow {
        //box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
        border-radius: 6px;
      }
    }

    .front {
      border-radius: 6px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
      height: 100%;
      position: relative;
      width: 100%;
      padding: 28px;
      top: 0;
      left: 0;
      z-index: 11;

      transform: rotateX(0deg) rotateY(0deg);

      transform-style: preserve-3d;

      backface-visibility: hidden;

      /* -- transition is the magic sauce for animation -- */
      @include transition(all .4s ease-in-out);
    }

    &:hover {
      .front {
        z-index: 11;
        transform: rotateY(180deg);
      }

      .back {
        z-index: 12;
        transform: rotateX(0deg) rotateY(0deg);
        min-height: 100px !important;
      }
    }

    .back {
      border-radius: 6px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
      position: absolute;
      top: 0;
      border: 0;
      height: 100%;
      width: 100%;
      left: 0;
      z-index: 10;

      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
      transform: rotateY(-179deg);

      transform-style: preserve-3d;

      backface-visibility: hidden;

      /* -- transition is the magic sauce for animation -- */
      @include transition(all .4s ease-in-out);

      > .row {
        height: 100%;
        margin: 0;

        > div {
          height: 100%;
          padding: 0;

          a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 30px 10px 10px;

            i {
              display: block;
              margin-bottom: 5px;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

  }
}

@media only screen and (max-width: 420px) {
  .card-container .card .front {
    padding: 28px 10px;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {

  .card {
    min-height: 270px !important;

  }
}

@media only screen and (min-width: 769px) and (max-width: 989px) {

  .card {
    min-height: 330px !important;

  }
}

@media only screen and (max-width: 768px){

  .card{
    min-height: 150px;
  }
}

// task containers

.task-container {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  background-color: white;
  margin-bottom: 15px;
  border-left: 3px solid;
  position: relative;
  @include transition(all .25s linear);

  &.priority-high {
    border-left-color: $brand-danger;

    .task-priority {
      color: $brand-danger;
    }
  }
  &.priority-medium {
    border-left-color: $brand-warning;

    .task-priority {
      color: $brand-warning;
    }
  }
  &.priority-normal {
    border-left-color: $font-color;

    .task-priority {
      color: $font-color;
    }
  }
  &.priority-low {
    border-left-color: $brand-success;

    .task-priority {
      color: $brand-success;
    }
  }

  .task-name {
    margin: 0;
    font-size: 18px;
    color: #222;
  }

  .task-meta {
    font-size: 12px;
    color: #999;
  }

  .task-priority {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .task-desc {
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.8;
    color: #555;
  }

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: grab;
  }

  &.drag-task {
    margin: 0;
    cursor: move;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
    position: fixed !important;
    z-index: 9999 !important;
  }
}


