/* You can add global styles to this file, and also import other style files
  src/sass/styles.css
*/
// test theme implementation
@import "~@angular/material/prebuilt-themes/purple-green.css";
// Custom.scss
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import './variables';
@import './mixins';

body {
  margin: 0;
  font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif !important;
  padding-top: 80px;
  -webkit-font-smoothing: antialiased;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

div.col-md-12 > div > mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
  justify-content: space-between;
  margin: 20px;

}

.background-red {
  background-color: rgb(153, 50, 50);
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

// Sample material icon
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-simple-snackbar{
  color: white;
}
