/* You can add global styles to this file, and also import other style files
  src/sass/styles.css
*/
// test theme implementation
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./material";
// Custom.scss
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./mixins";
// Global Styles
@import "./colors";
@import "./variables";
@import "./global";
@import "./animations";
@import "./cards";
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
// Quill Styling
@import "../../node_modules/quill/dist/quill.core.css";
@import "../../node_modules/quill/dist/quill.bubble.css";
@import "../../node_modules/quill/dist/quill.snow.css";

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme {

  // use our theme with angular-material-theme mixin
  @include angular-material-theme($candy-app-theme);
}

html {
  min-height: 100%;
}

body {
  //margin: 0 0 60px 0;
  font-family: Raleway, Arial, sans-serif !important;
  padding: 80px 0 0 0;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

// breadcrumbs
.breadcrumb {
    padding: 10px 12px;
    list-style: none !important;
    list-style-type: none;
    background-color: #eee;
}
.breadcrumb li {
    display: inline;
    font-size: 12px;
}
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ol.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

// Material Styles

mat-icon {
  vertical-align: sub;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.background-red {
  background-color: rgb(153, 50, 50);
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;

}

// WRAP styling
.wrap {
  margin-bottom: 70px;
  min-height: 960px;
}

// HOME Page styling

.banner {

  // Pull up the banner over the hidden breadcrumbs
  margin-top: -25px;
  margin-bottom: 25px;
  text-align: center;
  display: block;
  overflow: auto;
  padding: 20px 0px;

}

.banner > .container > div > .material-icons {
  vertical-align: middle;
}

.card-block > button.btn-home-header {
  position: absolute;
  bottom: -15px;
  margin-left: 10px;
}

// Sample material icon
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-simple-snackbar {
  color: white;
}

/* FOOTER styling */

.footer {
  position: absolute;
  //bottom: 0px;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  padding: 20px 5px;
  overflow: auto;
  text-align: center;
}

/* DONE button styling */

.done {
  position: fixed;
  bottom: 80px;
  right: 20px;
  color: white;
}

/* TILE Styling */
.tile {
  margin: 10px 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
  overflow: hidden;
  position: relative;
}

.tile:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f1ce";
  position: absolute;
  top: 80px;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 2em;
  color: dodgerblue;
  display: none;
  -webkit-animation: b 2s infinite linear;
  animation: b 2s infinite linear;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

.tile .tile-body, .tile .tile-footer, .tile .tile-widget {
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
  padding: 15px 25px;
  position: relative;
}

.tile .tile-body, .tile .tile-footer, .tile .tile-widget {
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
  padding: 15px 25px;
  position: relative;
}

/* ROW Styling */

.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* TEXT Styling */
.text-strong {
  font-weight: 700;
}

.line-xl {
  line-height: 32px;
}

.text-xl {
  font-size: 32px;
}

p {
  margin: 0 0 10px;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

/* MATERIAL TABLE Styling */
.mat-post-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-post-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-row {
  max-height: 100px;
}

.mat-cell img {
  max-height: 70px;
}

.mat-header-cell, .mat-cell {
  justify-content: center;
  display: flex;
}

/* NAV Pointer style */
.logout {
  cursor: pointer;
}

/* MATERIAL ICON styling*/
.navbar > .container > span > .material-icons {
  color: $theme-default;
  vertical-align: text-bottom;
}

// NAVBAR fixed
.fixed-top {
  position: absolute !important;
}

// LOADING BAR Styling

#loading-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;

  .bar {
    position: absolute;
    background-color: lighten($theme-default, 30%);
    z-index: 9;
  }
}

#loading-bar-spinner {
  position: absolute;
  z-index: 99999;

  .spinner-icon {
    border-top-color: lighten($theme-default, 30%);
    border-left-color: lighten($theme-default, 30%);
  }
}

// CARD Chart Styles
.card-header {
  border-radius: 0px !important;
  background: transparent !important;
  border-bottom: 0px !important;
}

.card {
  border: 0px !important;
  border-radius: 0.25rem !important;
}

app-home > .container > .row > .card-container > .card > .card-body > .card-block > .card-title > a {
  color: white !important;
}

// Two Column Styling
.left-col {
  width: 80%;
  padding: 0 10px 0 0;
  float: left;
}

.right-col {
  width: 20%;
  padding: 0 10px 0 0;
  float: right;
}

@media only screen and (max-width: 769px) {

  .left-col {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .right-col {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .card-block > button.btn-home-header {
    position: absolute;
    bottom: 10px;
    margin-left: -2px;
  }

  .card-container .card {
    margin-bottom: 30px;
    position: relative;
    -webkit-perspective: 600px;
    perspective: 600px;
    width: 100%;
    cursor: pointer;
    z-index: 9;
    border: 0px;
    background: #f5faff;
  }

}

// Image Button Styling
.hidden-button {
  display: none;
}

label.bg-primary {
  min-width: 150px;
}

// Post Styling
.feature_image {

  max-height: 320px;
  max-width: 100%;
  margin: 15px auto;
  display: block;
}

.container > .card > .card-header {
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom: 5px !important;
  background-color: #428bca !important;
  color: white !important;
  padding: 1.25em;

}

// TAG Styling
.tag-list li {
  padding: 10px;
  margin: 2px;
  font-size: initial;
}

.right-col > app-tag-menu > .nav-pills > .nav-item > .nav-link{
  color: white;
  font-weight: bold;
  margin: 1px;
}

// QL-EDITOR Styling
.ql-editor{
  //font-family: $font-roboto;
}
