<div class="container">
  <form [formGroup]="postForm" (ngSubmit)="createPost()" novalidate>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="author" placeholder="Author">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="intro" placeholder="Intro">
    </mat-form-field>
    <quill-editor formControlName="body" [style]="{height: '250px'}"></quill-editor>
    <div>
      <input formControlName="image" type="file" (change)="onFileChanged($event)">
    </div>
    <div>
      <input formControlName="introImage" type="file" (change)="onIntroFileChaged($event)">
    </div>
    <button type="submit" [disabled]="postForm.pristine">Save</button>
    <!--<button type="reset" (click)="revert()" [disabled]="postForm.pristine">Revert</button>-->
  </form>
</div>
