<div class="container">
  <div class="home-page">

    <div class="banner">
      <div class="container">
        <h1 class="logo-font">brianschaper</h1>
        <p>A daily musing of technology, software development, data engineering, and advanced visualizations.</p>
      </div>
    </div>

    <div class="container page">
      <div class="row">

        <div class="col-md-9">
          <div class="feed-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class="nav-link">
                  Your Feed
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Global Feed
                </a>
              </li>
            </ul>
          </div>


        </div>

        <div class="col-md-3">
          <div class="sidebar">
            <p>Popular Tags</p>


          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">



    </div>
    <div class="col-md-2">

    </div>

  </div>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <!--<mat-toolbar color="primary">-->
        <!--<span><mat-icon>mood</mat-icon></span>-->

        <!--<span>Yay, Material in Angular 2!</span>-->

        <!--<button mat-icon-button [mat-menu-trigger-for]="menu">-->
        <!--<mat-icon>more_vert</mat-icon>-->
        <!--</button>-->
        <!--</mat-toolbar>-->
        <!--<mat-menu x-position="before" #menu="matMenu">-->
        <!--<button mat-menu-item>Option 1</button>-->
        <!--<button mat-menu-item>Option 2</button>-->
        <!--</mat-menu>-->

        <!--<mat-card>-->
        <!--<button mat-button>All</button>-->
        <!--<button mat-raised-button>Of</button>-->
        <!--<button mat-raised-button color="primary">The</button>-->
        <!--<button mat-raised-button color="accent">Buttons</button>-->
        <!--</mat-card>-->

        <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
