<div class="container">
  <div class="jumbotron">
    <h1 class="mat-display-1">Welcome to {{ title }}</h1>
    <p class="lead">This is a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">

      <div class="posts" *ngIf="postsList">
        <table class="table">
          <thead class="h">
          <tr class="h">
            <th class="h">Title</th>
            <th class="h">Author</th>
            <th class="h">Date</th>
            <th class="h">Body</th>
            <th class="h">Hidden</th>
            <th class="h">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr class="post" (dblclick)="editPost(post)" *ngFor="let post of postsList">
            <td>{{post.title}}</td>
            <td>{{post.author}}</td>
            <td>{{post.date}}</td>
            <td>{{post.body}}</td>
            <td>{{post.hidden}}</td>
            <td>
              <button mat-raised-button color="primary"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </table>
      </div>
      <form>
        <div class="form-row">
          <div class="col-md-3">
            <input type="text" name="title" id="title" [(ngModel)]="newPost.title" placeholder="Title"
                   class="form-control">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" id="body" name="body" [(ngModel)]="newPost.body" placeholder="Body">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="author" name="author" [(ngModel)]="newPost.author"
                   placeholder="Author">
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="primary" (click)="createPost()">Add</button>
          </div>
        </div>
      </form>

    </div>
    <div class="col-md-2">

    </div>

  </div>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <mat-toolbar color="primary">
          <span><mat-icon>mood</mat-icon></span>

          <span>Yay, Material in Angular 2!</span>

          <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-toolbar>
        <mat-menu x-position="before" #menu="matMenu">
          <button mat-menu-item>Option 1</button>
          <button mat-menu-item>Option 2</button>
        </mat-menu>

        <mat-card>
          <button mat-button>All</button>
          <button mat-raised-button>Of</button>
          <button mat-raised-button color="primary">The</button>
          <button mat-raised-button color="accent">Buttons</button>
        </mat-card>

        <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
