<div class="container">
  <div class="home-page">

    <div class="banner">
      <div class="container">
        <h1 class="logo-font"><strong>brian</strong>schaper</h1>
        <p>A daily musing of technology, software development, data engineering, and advanced visualizations.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-4 col-lg-2">
      <div class="tile">
        <div class="tile-widget bg-cyan text-center p-30">
          <i class="fa fa-shopping-cart fa-3x"></i>
        </div>
        <div class="tile-body text-center">
          <h1 class="m-0">369</h1>
          <span class="text-muted">Orders</span>
        </div>
      </div>
    </div>

    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-greensea"><!-- row -->
          <div class="row"><!-- col -->
            <div class="col-xs-4"><i class="fa fa-users fa-4x"></i></div><!-- /col --><!-- col -->
            <div class="col-xs-8"><p class="text-xl line-xl text-strong mb-0">3 659</p><span>New Users</span></div>
            <!-- /col -->
          </div><!-- /row -->
        </div>
        <div class="back bg-greensea"><!-- row -->
          <div class="row"><!-- col -->
            <div class="col-xs-4"><a href="javascript:;"><i class="fa fa-cog fa-2x"></i> Settings</a></div><!-- /col -->
            <!-- col -->
            <div class="col-xs-4"><a href="javascript:;"><i class="fa fa-chain-broken fa-2x"></i> Content</a></div>
            <!-- /col --><!-- col -->
            <div class="col-xs-4"><a href="javascript:;"><i class="fa fa-ellipsis-h fa-2x"></i> More</a></div>
            <!-- /col -->
          </div><!-- /row -->
        </div>
      </div>
    </div>

  </div>
</div>
