<div class="container">
  <app-breadcrumb></app-breadcrumb>

  <div *ngIf="post" class="card">
    <div class="card-header bg-primary">
      <ul class="tag-list">
        <li *ngFor="let tag of post.tags" class="badge badge-pill badge-secondary"><a
            [routerLink]="['/posts', tag]">{{tag}}</a>
        </li>
      </ul>
      <h1 class="card-title text-lg-center font-weight-bold">{{post.title}}</h1>
      <img class="feature_image" src="https:/brianschaper.com/public/uploads/images/{{post.image}}" alt="post-image">
      <ul>
        <li class="inline-block pr-10">{{post.author}}</li>
        <li class="inline-block pr-10">{{post.createdAt | date: 'yyyy-MM-dd'}}</li>
      </ul>
    </div>

    <div class="card-body">
      <div class="card-block">
        <div class="ql-container ql-snow ql-post">
          <div class="ql-editor" [innerHTML]="html | safeHtml"></div>
        </div>
      </div>
    </div>
  </div>
</div>