<div class="container">
  <!-- Masonry style columns -->
  <div class="card-columns">

    <!-- Card Tiles -->
    <div class="card tile" *ngFor="let post of postsList">
      <div class="card-body">
        <img class="card-img-top img-fluid" src="https://brianschaper.com/public/uploads/images/{{post.introImage}}"
          alt="post-image">
        <div class="card-block">
          <h4 class="card-title">{{post.title}}</h4>
          <p class="card-text">{{post.intro}}</p>
          <a class="btn btn-outline-warning" [routerLink]="['/post', post.slug ]">Read More</a>
        </div>
      </div>
    </div>

    <!-- Card Tiles End -->
    <!-- Masonry style columns end -->
  </div>
</div>